"""Read back every note in the order it was written."""

from dataclasses import dataclass

from {{ package_name }}.application.notes.ports import NoteStore
from {{ package_name }}.domain.value_objects.note import Note


@dataclass(frozen=True)
class ListNotes:
    store: NoteStore

    def execute(self) -> tuple[Note, ...]:
        return self.store.list_notes()
