"""Run a command: parse the arguments, call one use case and show its result."""

from collections.abc import Sequence

from {{ package_name }}.application.notes.add_note import AddNote
from {{ package_name }}.application.notes.list_notes import ListNotes
from {{ package_name }}.domain.value_objects.note import EmptyNoteError
from {{ package_name }}.presentation.cli.command_line import build_parser
from {{ package_name }}.presentation.cli.view import NoteView

USAGE_ERROR = 2


def run(
    argv: Sequence[str] | None, add_note: AddNote, list_notes: ListNotes, view: NoteView
) -> int:
    arguments = build_parser().parse_args(argv)
    if arguments.command == "add":
        try:
            view.show_added(add_note.execute(arguments.text))
        except EmptyNoteError as error:
            view.show_error(str(error))
            return USAGE_ERROR
        return 0
    view.show_notes(list_notes.execute())
    return 0
